"*":
  "atom-ctags":
    cmdArgs: "--exclude=*.yml --exclude=*.json --exclude=*.md --exclude=node_modules"
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "symbols-view"
      "ruby-test-switcher"
    ]
    packagesWithKeymapsDisabled: [
      "ruby-test"
      "toggle-quotes"
    ]
    telemetryConsent: "no"
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "28f335fb-df1e-21bd-6a98-6698c2a35043"
  linter: {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-ui-default": {}
  "open-recent": {}
  tabs:
    usePreviewTabs: false
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
